ninja
packaging

torch==2.7.1
torchvision==0.22.1
xformers==0.0.31
xfuser==0.4.3.post3
diffusers>=0.33.1
transformers==4.56.2

# flash-attn==2.7.4.post1 # requires --no-build-isolation

#torch==2.8.0
#torchvision==0.23.0
#xformers==0.0.32.post2
#flash-attn==2.8.2
#xfuser==0.4.4
#diffusers>=0.35.1

huggingface_hub
torchaudio
accelerate
safetensors
sentencepiece
imageio[ffmpeg]
imageio-ffmpeg
modelscope
flask
quart
hypercorn
einops
soundfile
numpy
pillow
nvidia-ml-py3
colorlog
opencv-python-headless
matplotlib
